/*//Import Font Fira-Code*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('svg.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


:root {
    --background: #282C33;
    --primary: #C778DD;
    --gray: #ABB2BF;
    --white: #fffff;
    --orange: #F5945D;
}


body {
    font-family: 'Fira Code', monospace;
    background-color: var(--background);
    color: #fff;
}


/* Colors */

/*--------------Layout-------------------------------- */
.inner-container {
    margin: 0 10.68rem;
}

.left-aside {
    position: absolute;
    top: 0;
}

.box {
    display: flex;
    flex-direction: column;
}

.line {
    /*position: relative;*/
    /*top: -0.5rem;*/
    border-left: 1px solid var(--gray);
    height: 12rem;
    margin-left: 2rem;
}


.reference-media {
    display: flex;
    flex-direction: column;
    height: 32px;
    width: 32px;
    margin-top: 0.5rem;
    margin-left: 1.1rem;
}

.reference-media img {
    padding-top: 0.5rem
}

/*.svg svg:hover, .svg svg > path:hover {*/
/*    fill: white;*/
/*}*/
/*!*---------- Header and nav -------------------------------- *!*/
header {
    /*Sticky header */
    /*position: sticky;*/
    /*top: 0;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    background-color: var(--background);
    padding: 2rem 0;
}

nav p {
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    color: var(--gray);
}

nav ul li {
    padding: 0 2rem 0;
}

nav ul li:before {
    content: '#';
    margin-right: 4px;
    color: var(--orange);
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover {
    color: white;
    font-weight: bold;
}

.logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    position: relative;
    top: 0.2rem;
    padding: 0 0.5rem 0;
}


/* ------- Section About Me --------- */

.intro {
    display: flex;
    margin: 3.875rem 0;
}

.about {
    padding-right: 15rem;
    text-align: left;
}

.about h1 {
    padding-top: 4rem;
}

.about h2 {
    line-height: auto;
}

.about p {
    color: var(--gray);
    padding: 1.75rem 0 1.5rem 0;
}

.about button, article button {
    font-family: inherit;
    background-color: var(--background);
    color: white;
    padding: 0.5rem 1rem;
    border: 1px solid var(--orange);
    font-weight: 500;
    letter-spacing: 0.1rem;:

}

.about button:hover, article button:hover {
    background-color: rgba(245, 148, 93, 0.2);

}

.about button:hover:after {
    content: '<~>';
    margin-left: 0.8rem;
}


.about-img {
    position: relative;
}

.about-img .rectangle {
    position: absolute;
    top: 5.25rem;
    z-index: -1;
}

.about-img .person {
    height: 100%;
    z-index: 2;
}

.about-img .dots {
    position: absolute;
    bottom: 7rem;
    right: 16px;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-progress {
    height: 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid var(--gray);
    padding-right: 2rem;
    color: var(--gray);
}

.about-progress span {
    color: white;
    font-weight: bold;
}

.vierkant {
    height: 1rem;
    width: 1rem;
    margin: 0 0.5rem;
    border: 1px solid var(--orange);
    background-color: var(--orange);
}


/* ------------------ Section BlockQuote --------------- */

section.inner-wrapper {
    display: flex;
    justify-content: center;
}

.blockquotes {
    display: flex;
    flex-direction: column;
    padding: 7rem 0;
}

blockquote:first-child {
    border: 1px solid var(--gray);
    padding: 2rem;
}

blockquote:last-child {
    border: 1px solid var(--gray);
    padding: 1rem;
    align-self: flex-end;
}


/* ------ Section Portfolio --- */

section .intro-project {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section span:first-child {
    color: var(--orange);
}

section .line-horizontal {
    width: 31rem;
    border-top: 1px solid var(--orange);
    margin-left: 1rem;
}

section .project-name {
    display: flex;
    align-items: center;
}

section .portfolio-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 0;

}

section article {
    border: 1px solid var(--gray);
}

section article:hover {
    /*border: 1px solid var(--orange);*/
    box-shadow: 20px 20px 60px #8c8c8c,
    -20px -20px 60px #cbcbcb;

}

section article ul, .skills-develop ul {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--gray);
    padding: 0.5rem 0;
    justify-content: center;
    color: var(--gray);
    gap: 0.5rem;
    list-style: none;
}

section .article-info {
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
}

section .article-info p {
    padding: 1rem 0;
}


/* ----- Skills Section --------- */

section.inner-container  {
    margin-top: 6.65rem;
}
section .skills-wrapper {
    display: flex;
    /*flex-wrap: wrap;*/
    gap: 1rem;

}

.skills-develop {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*height: 100%;*/
    gap: 1rem;
    /*align-items: flex-start;*/
    border: 1px solid var(--gray);
    margin: 1rem 0;
    padding: 1rem 0;
}

.skills-develop p {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gray);
    font-weight: bold;
}

.skills-develop ul {
    /*border overwrite */
    border: none;
    padding: 1rem;
    justify-content: flex-start;

}

.right-side {
    gap: 1rem;
    display: flex;
}




