* {
    box-sizing: border-box;
    padding: 0;
    marign: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');


:root {
    font-size: 10px;
    --mobile-size: 375px;
    --desktop-size: 730px;
    --primary-color-red: hsl(1, 90%, 64%);
    --primary-color-blue: hsl(219, 85%, 26%);
    --primary-color-neutral-white: hsl(0, 0%, 100%);
    --primary-color-vlightblue: hsl(210, 60%, 98%);
    --primary-color-lgblue: hsl(211, 68%, 94%);
    --primary-color-lgblue2: hsl(205, 33%, 90%);
    --primary-color-gray-blue: hsl(219, 14%, 63%);
    --primary-color-dgray-blue: hsl(219, 12%, 42%);
    --primary-color-vdark-blue: hsl(224, 21%, 14%);
    --paragraph: 16px;
    --font: 'Plus Jakarta Sans', sans-serif;
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: var(--paragraph);

}

nav {
    display: flex;
    justify-content: space-between;
}

nav, article {
    margin: 0.5rem 2rem;
}

nav h4 {
    color: var(--primary-color-gray-blue);
    font-weight: normal;
}

nav h4:hover {
    color: var(--primary-color-blue);
    cursor: pointer;
}

.img-box {
    flex-basis: 5rem;
}

.img-box img {
    width: 100%;
}

.img-chess {
    align-self: flex-end;
}

.img-chess img {
    width: 5rem;

}

.img-chess:hover {
    cursor:pointer;
}

section {
    padding: 1rem;
}

.post {
    color: var(--primary-color-dgray-blue);
    margin-left: 2rem;
    width: 100%;
}

.post .name {
    color: #282C33;
    font-weight: bold;
}

.post .name:hover {
    color: var(--primary-color-blue);
    cursor: pointer;
}

.post p:nth-child(2) {
    line-height: 0.2;
}

li {
    display: flex;
    align-items: center;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
}

.blue {
    background-color: var(--primary-color-vlightblue);
}

p.blue {
    border: 1px solid var(--primary-color-lgblue);
    color: var(--primary-color-gray-blue);
    line-height: 1.1;
    letter-spacing: .05rem;
    padding: 2.5rem 2rem;
    border-radius: 0.5rem;
    margin-left: 6rem;
    background-color: unset;

}

p.blue:hover {
    background-color: var(--primary-color-lgblue);
    cursor: pointer;
}

.box {
    display: flex;
    width: 100%;
    align-items: center;
}
.private-message {
    display: flex;
    flex-direction: column;
}
.strong {
    font-weight: 900;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

nav h1 {
    font-size: 2.4rem;
    font-weight: 800;
}
span.notification {
    font-size: 1.6rem;
    margin-left: 1rem;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.1rem 1.2rem;
    background-color: var(--primary-color-blue);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width: 600px) {
    body {
        justify-content: center;
        align-items: center;
        height: 100vh;

    }
    section {
        border-radius: 2rem;
        padding: 2rem;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        max-width: var(--desktop-size);
    }
}
